<% if (successMessages && successMessages.length !==0) { %>
    <% for(let message of successMessages){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>    
<% } %>

<% if (errorMessages && errorMessages.length !==0) { %>
    <% for(let message of errorMessages){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
<% } %>