<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column vh-100">
    <header class="mb-5">
        <%- include('../partials/navbar') %>
    </header>
    <% if ((successMessages && successMessages.length !==0) || (errorMessages && errorMessages.length !==0)) { %>
        <div class="container mt-5 pt-5">
            <%- include('../partials/messages') %>
        </div>
    <% } %>
    <main class="container my-5">
        <%- body -%>
    </main>
    <footer class="mt-auto">
        <%- include('../partials/footer') %>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="/js/mdb.min.js"></script>
    <script src="/js/validation.js"></script>
</body>

</html>